<div class="row">  
  <table class="table" *ngIf="addresses">
    <thead class="thead-dark">
      <tr>
        <th scope="col-lg">address</th>
        <th scope="col-lg">private key</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of returnedArray">
        <td>
          <a [routerLink]="'/explorer/address/' + address.address">
            {{address.address}}
          </a>
        </td>
        <td class="text-danger">{{address.privateKey}}</td>
      </tr>
    </tbody>
  </table>
  <pagination *ngIf="addresses"
              [totalItems]="addresses.length"
              (pageChanged)="pageChanged($event)"></pagination>
</div>