<form class="row" [formGroup]="txCalc" (ngSubmit)="onSubmit()">
  <div class="form-group col-lg-12">
    <label for="exampleFormControlSelect1">Sync address</label>
    <select class="form-control"
            id="exampleFormControlSelect1"
            formControlName="address">
      <option *ngFor="let address of addresses">{{address}}</option>
    </select>
    <small class="form-text text-muted">address which has the largest number of ether.</small>
  </div>

  <div class="col-sm-3"></div>

  <div class="form-group col-sm-3">
    <label for="take">limit</label>
    <input type="number"
           [step]="1"
           class="form-control"
           id="take"
           formControlName="take">
    <small class="form-text text-muted">Maximum number of transactions</small>
  </div>
  <div class="form-group col-sm-3">
    <label for="skip">ofset</label>
    <input type="number"
           [step]="1"
           class="form-control"
           id="skip"
           formControlName="skip">
    <small class="form-text text-muted">First address.</small>
  </div>

  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>

  <button class="btn btn-lg btn-info" (ngSubmit)="onSubmit()">make sync</button>
</form>

<div class="list-group" *ngIf="hashs">
  <h1 class="text-success text-center">Transactions</h1>

  <a *ngFor="let hash of hashs"
     [routerLink]="'/explorer/hash/' + hash.hash"
     [class]="hash.color + ' list-group-item list-group-item-action'">
     {{hash.hash}}
  </a>
</div>