<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand text-light">ETHERBOT</li>
      <li routerLink="">
          <a>Dashboard</a>
      </li>
      <li routerLink="tx">
          <a>send tx</a>
      </li>
      <li routerLink="txpool">
        <a>send pool tx</a>
      </li>
      <li routerLink="sync">
          <a>synchronization</a>
      </li>
      <li routerLink="export">
          <a>export wallet</a>
      </li>
      <li routerLink="explorer">
        <a>explorer</a>
      </li>
    </ul>
  </div>

  <div id="page-content-wrapper">
      <router-outlet></router-outlet>
  </div>
</div>